<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <title>CSV parser</title>
</head>
<body>
  <h1>Список пользователей</h1>
  <input type="button" value="Добавить пользователя" class="btn btn-default" (click)="addUser()" />
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Preferred programming languages</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userArray; index as i;">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.languages}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openModal(editProfileModal, user)">Edit</button>
        </td>
        <td>
          <input type="button" value="Удалить" class="btn btn-danger" (click)="openDialog('Delete',user)" />
        </td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="Сохранить" class="btn btn-default" (click)="save()" />
</body>
</html>

<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="id" id="id">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="name" id="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="surname" class="col-sm-4 col-form-label">Surname</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="surname" id="surname">
        </div>
      </div>
      <div class="form-group row">
        <label for="languages" class="col-sm-4 col-form-label">Preferred programming languages</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="languages" id="languages">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>
